
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: Arial, sans-serif;
    background-color: white;
}

th {
    background-color: #1E459E; /* Sötétkék fejléc, mint a stilus.css gombjai */
    color: white;
    text-align: left;
    padding: 12px;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1; /* Kiemelés, ha az egér felette van */
    transition: background-color 0.2s;
}
